<html>
<head>
  <meta charset="utf-8" />
  <title>Welcome to Chloe Editor</title>

</head>
<body>
  <button id="share">Edit with Friends</button>

  <header contenteditable="true">
  </header>

  <article contenteditable="true" class="lead">
  </article>

  <article contenteditable="true" class="content">
  </article>

    <script src="/js/events.js"></script>
    <script src="/js/data.js"></script>
</body>
</html>
