<html>
<head>
  <meta charset="utf-8" />
  <title>Welcome to Chloe Editor</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gilda+Display|Open+Sans" rel="stylesheet">
</head>
<body>
  <div id="link">
    <div class="url-box">
      <p>
        <!--ol>
          <li>Your invited friends will see everything you write down on an editor. Every change you make will automatically display on your friends' screen. Be carefully and respect other users.</li>
          <li>You can use this URL and send it to friends, but watch yourself. Remember rule number one. </li>
          <li>Content is automatically saved on your local memory, so you can close this page, go to the kitchen to make some sandwitches, come back and return to this page and your text will be still there. Great, huh?  </li>
          <li>
            You do not talk about FIGHT CLUB.
          </li>
          <li>If you understand, there is your URL:
          </li>
          </li>
        </ol -->
      </p>
      <input type="url" value="<%= url %>"></input>
      <button>Start editing</button>
    </div>
  </div>
  <button id="share">Edit with Friends</button>

<div id="editor">

  <header contenteditable="true" class="title">
    <%= title %>
  </header>

  <article contenteditable="true" class="lead">
    <%= lead %>
  </article>

  <article contenteditable="true" class="content">
    <%= content %>
  </article>
</div>

    <script src="/js/data.js"></script>
    <script src="/js/caret.js"></script>
    <script src="/js/events.js"></script>
    <script src="/js/socket.js"></script>
</body>
</html>
