
body {
  background-color: #F6F6F6;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 100px;
}

#editor {
  transition: all 0.5s ease-in-out;
}

.title,
.lead,
.content {
  margin: 10px;
  margin-left: 200px;
  width: 60%;
  opacity: 0.5;
  transition: all 1s ease-in-out;
 }


.title {
/*  font-family: 'Gilda Display', serif; */
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px !important;
}

.lead {
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: 30px;
}

.content {
  font-size: 1em;
}

.active {
  opacity: 1;
  margin: 20px;
  margin-left: 200px;
}

/* Share Button */
#share {
  border: none;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  top: 20px;
  left: 20px;
}

#share:hover {
  opacity: 1;
}

#link {
  position: fixed;
  right: 0;
  top: 20px;

}
