
body {
  background-color: #F6F6F6;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 100px;
}

#editor {
  transition: all 0.5s ease-in-out;
}

.title,
.lead,
.content {
  margin: 10px;
  margin-left: 200px;
  width: 60%;
  opacity: 0.5;
  transition: all 1s ease-in-out;
 }

 .title:focus,
 .lead:focus,
 .content:focus {
  border: 0px solid white;
  box-shadow: none;
  outline: none;
  }


.title {
/*  font-family: 'Gilda Display', serif; */
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 10px !important;
}

.lead {
  font-weight: bolder;
  font-size: 1em;
  margin-bottom: 30px;
}

.content {
  font-size: 1em;
}

.active {
  opacity: 1;
  margin: 20px;
  margin-left: 200px;
}

/* Share Button */
#share {
  background-image: url('../img/vitamins.png');
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;

}

#share:hover {
  opacity: 1;
}

#link {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,0.8);
  left: 0;
  top: 0;
  z-index: 9999;
  transition: all 1s ease-in-out;
}

.url-box  {
  background-color: #F6F6F6;
  border: 3px solid lightgray;
  border-radius: 5px;
  padding: 30px 70px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}

.url-box p {
  margin-top: 0;
}

.url-box input,
.url-box button {
  padding: 10px;
  border: 1px solid skyblue;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.url-box button {
  width: 60%;
  background-color: skyblue;
  cursor: pointer;
}

.url-box button:hover {
  color: white;
}

.url-box .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.url-box ol li {
  margin: 10px 0;
}
